<div class="tabs">
    <!-- Radio button and lable for #tab-content1 -->
    <input type="radio" name="tabs" id="tab1" checked >
    <label for="tab1">
        Today
    </label>
    <!-- Radio button and lable for #tab-content2 -->
    <input type="radio" name="tabs" id="tab2">
    <label for="tab2">
        Week
    </label>
    <!-- Radio button and lable for #tab-content3 -->
    <input type="radio" name="tabs" id="tab3">
    <label for="tab3">
        Month
    </label>
    <input type="radio" name="tabs" id="tab4">
    <label for="tab4">
        All Time
    </label>
    <div id="tab-content1" class="tab-content" style="height:262px; overflow:scroll;">
      <table class="table table-hover">
        {{#each model.dayData as |person|}}
        <tr>
            <td>
                {{person.rank}}.
            </td>
            <td>
                {{person.name}}
            </td>
            <td>
                {{person.hours}} Hrs
            </td>
        </tr>
        {{/each}}
      </table>
    </div>
    <div id="tab-content2" class="tab-content" style="height:250px; overflow:scroll;">
      <table class="table table-hover">
        {{#each model.dayData as |person|}}
        <tr>
            <td>
                {{person.rank}}.
            </td>
            <td>
                {{person.name}}
            </td>
            <td>
                {{person.hours}} Hrs
            </td>
        </tr>
        {{/each}}
      </table>

    </div>
    <div id="tab-content3" class="tab-content" style="height:250px; overflow:scroll;">
      <table class="table table-hover">
        {{#each model.dayData as |person|}}
        <tr>
            <td>
                {{person.rank}}.
            </td>
            <td>
                {{person.name}}
            </td>
            <td>
                {{person.hours}} Hrs
            </td>
        </tr>
        {{/each}}
      </table>

    </div>
    <div id="tab-content4" class="tab-content" style="height:250px; overflow:scroll;">
      <table class="table table-hover">
        {{#each model.dayData as |person|}}
        <tr>
            <td>
                {{person.rank}}.
            </td>
            <td>
                {{person.name}}
            </td>
            <td>
                {{person.hours}} Hrs
            </td>
        </tr>
        {{/each}}
      </table>
    </div>
</div>

<style>
.tabs {
    float: none;
    list-style: none;
    padding: 0;
}
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
.tabs input[type=radio] {
    display:none;
}
.tabs label {
    display: block;
    float: left;
    width: 25%;
    color: #E06739;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
.tabs label span {

}
.tabs label i {
    display: block;
    padding: 5px;
    margin-right: 0;
    color: #E06739;
}
.tabs label:hover {
    color: #E06739;
    box-shadow: inset 0 4px #E06739;

}
.tab-content {
    display: none;
    color:grey;
    width: 100%;
    float: left;
    box-sizing: border-box;
    background-color:#ffffff;
}

.tab-content .table{
  margin-bottom: 0px;
  font-size: 16px;
  text-align: left;
}

.tab-content .table td{
  padding: 5px;
}

.tab-content .table tr:nth-child(even) {
    background-color: #f2f2f2
}

.tabs [id^="tab"]:checked + label {
  background: #E06739;
  /* box-shadow: inset 0 4px #3498db; */
  /* border-bottom: 4px solid #3498db; */
  color: white;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4 {
    display: block;
}
</style>
