<div class="container">
    <div class="row">
    <div class="col-md-3" >
      <div class="col-md-12" >
        <a href="/profile" style="text-decoration:none; color: black;">
          {{hgn-profilebox title="UserName" role="Administrator" logo="https://addons.cdn.mozilla.net/static//img/zamboni/anon_user.png"}}
        </a>
      </div>
      <div class="col-md-12" >
        <a href="/profile" style="text-decoration:none; color: black;">
          {{hgn-badges title="UserName" role="Administrator" }}
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="col-md-6" >
        <div class="panel panel-default" style="height:350px;background-color:#C57CD2;text-align:center">
          <div class="panel-heading" style="background-color:#9957A5">Add Time</div>
          <div class="panel-body" >
            {{hgn-timer}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default" style="height:350px;background-color:#FFCCBC;text-align:center">
          <div class="panel-heading" style="font: bold; color: #FDFEFE;background-color: #DC7633">Leaderboard</div>
          <div class="panel-body" style="padding:0px">
            {{hgn-tabs data=model.barChart}}
            <!-- {{hgn-tabs model=model.LeaderboardWeekData data="hi"}} -->
          </div>
        </div>
      </div>
      <div class="col-md-6" >
        <div class="panel panel-default" style="height:350px;background-color:#CC7272;text-align:center">
          <a href="/timelog" style="text-decoration:none; color: black;">
          <div class="panel-heading" style="background-color:#B14E4E">Hours Worked this week</div>
          <div class="panel-body" >
              {{ember-chart type='Pie' options=model.weekData.chartOptions data=model.weekData.chartData width=200 height=200 legend=true}}
          </div>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default" style="height:350px;background-color:#A9D96C;text-align:center">
          <a href="/timelog" style="text-decoration:none; color: black;">
          <div class="panel-heading" style="background-color:#7AA243">Hours Worked this month (Projects)</div>
          <div class="panel-body">
            {{ember-chart type='Bar' options=model.monthData.chartOptions data=model.monthData.chartData width=300 height=250 legend=true}}
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
