<div class="container">
    <form class="form-horizontal">
   
   <div class="form-group ">
        <label  class = "control-label col-sm-2" for="firstName">*First Name:</label>
         <div class="col-sm-10">{{input class="form-control" name=firstName id = "firstName" type = "text" value = model.firstName }}</div>
    </div>
    
    <div class="form-group ">
        <label  class = "control-label col-sm-2" for="lastName">*First Name:</label>
         <div class="col-sm-10">{{input class="form-control" name=lastName id = "lastName" type = "text" value = model.lastName }}</div>
    </div>

    <div class="form-group ">
        <label  class = "control-label col-sm-2" for="role">*Role:</label>
         <div class="col-sm-10">{{input class="form-control" name=role id = "role" type = "text" value = model.role  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>
    </div>

    <div class="form-group ">
        <label  class = "control-label col-sm-2" for="email">*Email:</label>
         <div class="col-sm-10">{{input class="form-control" name=email id = "email" type = "email" value = model.email  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>
    </div>

    <div class="form-group ">
        <label  class = "control-label col-sm-2" for="Weekly Comitted Hours:">*Email:</label>
         <div class="col-sm-10">{{input class="form-control" name=weeklyComittedHours id = "weeklyComittedHours" type = "text" value = model.weeklyComittedHours  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>
    </div>

    
        {{#each model.professionalLinks as |link|}}
        <div class="form-group ">
        <label  class = "control-label col-sm-2" for="link">{{link.Name}}</label>
         <div class="col-sm-10">{{input class="form-control" name=link id = "link" type = "text" value = link.Link  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>
         </div>
         {{/each}}

         {{#each model.socialLinks as |link|}}
        <div class="form-group ">
        <label  class = "control-label col-sm-2" for="link">{{link.Name}}</label>
         <div class="col-sm-10">{{input class="form-control" name=link id = "link" type = "text" value = link.Link  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>
         </div>
         {{/each}}

         {{#each model.otherLinks as |link|}}
         <div class="form-group ">
         <label  class = "control-label col-sm-2" for="link">{{link.Name}}</label>
          <div class="col-sm-10">{{input class="form-control" name=link id = "link" type = "text" value = link.Link  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>
          </div>
          {{/each}}

          <div class="form-group ">
              <label  class = "control-label col-sm-2" for="team">*Team Membership:</label>              
              {{#each model.teamId as |team|}}
              <label  class = "control-label col-sm-2" for="team"></label> 
              <div class="col-sm-10">{{input class="form-control" name=team id = "team" type = "text" value = team.teamName  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>
            {{/each}}   
            </div>
        
            <div class="form-group"> 
                 <div class="col-sm-offset-2 col-sm-10 btn-group ">                  
                    <button  type = "button" class = "btn btn-secondary">
                      <a href = "/dashboard">Cancel</a>
                    </button>
                  <button type="button" class="btn btn-primary pull-right" {{action "postChanges"}}>Save</button>                  
                </div>
                </div>

              
   
    </form>
    </div>

    {{userrole}} {{userId}} {{isUserAdministrator}} 