<div class="container">
    <div class="form-row col-xs-12 col-md-6">
      <div class="form-group ">
    <label class = "control-label" for="firstName">*First Name</label>
    {{input type="text" class="form-control col-" id="firstName" value =model.firstName maxlength = 60}}
  </div>
  </div>

<div class="form-row col-xs-12 col-md-6"> 
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src={{model.profilePic}} alt="Profile Picture">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    
    <a href="#" class="btn btn-primary">Change</a>
    <input id = "newProfilePic" style="visibility:hidden" multiple="true" onchange={{action "updateProfilePic"}} accept="image/png,image/jpeg" name={{newProfilePic}} type="file"/>
  </div>
</div>



  
</div>

</div>

{{userrole}} {{userId}} {{isUserAdministrator}}