<div class="container">
    <form class="form-horizontal .myprofile">
   
   <div class="form-group ">
        <label  class = "control-label col-sm-2" for="firstName">*First Name:</label>
         <div class="col-sm-10">{{input class="form-control" name=firstName id = "firstName" type = "text" value = model.firstName }}</div>
         {{display-errors errors = errors.model.firstName showErrors= showErrors}}
    </div>
    
    <div class="form-group ">
        <label  class = "control-label col-sm-2" for="lastName">*Last Name:</label>
         <div class="col-sm-10">{{input class="form-control" name=lastName id = "lastName" type = "text" value = model.lastName }}</div>
         {{display-errors errors = errors.model.lastName showErrors= showErrors}}
    </div>

    <div class="form-group ">
        <label  class = "control-label col-sm-2" for="role">*Role:</label>
         <div class="col-sm-10">{{input class="form-control" name=role id = "role" type = "text" value = model.role  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>
         {{display-errors errors = errors.model.role showErrors= showErrors}}
    </div>

    <div class="form-group ">
        <label  class = "control-label col-sm-2" for="email">*Email:</label>
         <div class="col-sm-10">{{input class="form-control" name=email id = "email" type = "email" value = model.email  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>
         {{display-errors errors = errors.model.email showErrors= showErrors}}
    </div>

    <div class="form-group ">
        <label  class = "control-label col-sm-2" for="weeklyComittedHours">*Weekly Comitted Hours:</label>
         <div class="col-sm-10">{{input class="form-control" name=weeklyComittedHours id = "weeklyComittedHours" type = "text" value = model.weeklyComittedHours  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>
         {{display-errors errors = errors.model.weeklyComittedHours showErrors= showErrors}}
    </div>

    
        {{#each model.personalLinks as |personallink|}}
        <div class="form-group ">
        <label  class = "control-label col-sm-2" for="link">{{personallink.Name}}:</label>
         <div class="col-sm-9">{{input class="form-control" name=link  type = "text" value = personallink.Link  }}</div>
         <span class="glyphicon glyphicon-minus col-sm-1 " {{action "removePersonalLink" personallink}}></span>
         </div>
         {{/each}}

         <div class="form-group  ">            
             <div class ="form-inline" >                 
                 <label  class = "control-label col-sm-2">New Personal Link:</label>
                 {{input  class = "form-control col-sm-3" value = newPersonalLink.Name placeholder = "Name"}} 
                {{input class="form-control col-sm-6" value= newPersonalLink.Link type = "text" placeholder = "Link"  }}                
                 <span class="glyphicon glyphicon-plus col-sm-1"  {{action "addPersonalLink" }}></span>
           </div>
         <br>
        </div>

         

         {{#each model.adminLinks as |adminLink|}}
         <div class="form-group ">
         <label  class = "control-label col-sm-2" for="link">{{adminLink.Name}}:</label>
          <div class="col-sm-9">{{input class="form-control" name=link  type = "text" value = adminLink.Link readonly = (if isUserAdministrator "undefined" "readonly")  }}</div>
          {{#if isUserAdministrator}}
          <span class="glyphicon glyphicon-minus col-sm-1 " {{action "removeAdminLink" adminLink}}></span> 
          {{/if}}
        </div>
          {{/each}}

          {{#if isUserAdministrator}}
          <div class="form-group  ">            
                <div class ="form-inline" >                 
                    <label  class = "control-label col-sm-2">New Admin Link:</label>
                    {{input  class = "form-control col-sm-3" value = newAdminLink.Name placeholder = "Name"}} 
                   {{input class="form-control col-sm-6" value= newAdminLink.Link type = "text" placeholder = "Link"  }}                
                    <span class="glyphicon glyphicon-plus col-sm-1"  {{action "addAdminLink" }}></span>
              </div>
            <br>
           </div>
           {{/if}}


          <div class="form-group ">
              <label  class = "control-label col-sm-2" for="team">*Team Membership:</label>              
              {{#each model.teamId as |team|}}
              <label  class = "control-label col-sm-2" for="team"></label> 
              <div class="col-sm-10">{{input class="form-control" name=team  type = "text" value = team.teamName  readonly = (if isUserAdministrator "undefined" "readonly")}}</div>              
            {{/each}}   
            </div>
        
            <div class="form-group"> 
                 <div class="col-sm-offset-2 col-sm-10 btn-group ">                  
                    <button  type = "button" class = "btn btn-secondary">
                      <a href = "/dashboard">Cancel</a>
                    </button>
                  <button type="button" class="btn btn-primary pull-right" {{action "postChanges"}}>Save</button>                  
                </div>
                </div>

              
   
    </form>
    </div>

    {{userrole}} {{userId}} {{isUserAdministrator}} 