<form class = "container">
    {{LoggedinUser}}
  
  <div class="form-group  col-sm">
    <label for="firstName">First Name</label>
    {{input class="form-control" type = "text" value = model.firstName}}
  </div>

  <div class="form-group  col-sm">
    <label for="lastName">Last Name</label>
    {{input class="form-control" type = "text" value = model.lastName}}
  </div>

  <div class="form-group  col-sm">
    <label for="role">Role</label>
    {{input class="form-control" type = "text" value = model.role readonly = (if isUserAdministrator undefined readonly) }}
  </div>

   <div class="form-group  col-sm">
    <label for="role">Email</label>
    {{input class="form-control" type = "email" value = model.email readonly = (if isUserAdministrator undefined readonly) }}
  </div>

<div class="form-group  col-sm">
    {{#each model.professionalLinks as |link|}} 
       <label for="links">{{link.Name}}</label>
 {{input class="form-control" type = "text" value = link.Link   }}

     {{/each}}
  </div>

  <div class="form-group  col-sm">
    {{#each model.socialLinks as |link|}} 
       <label for="links">{{link.Name}}</label>
   {{input class="form-control" type = "text" value = link.Link   }}

     {{/each}}
  </div>

  <div class="form-group  col-sm">
    {{#each model.otherLinks as |link|}} 
       <label for="links">{{link.Name}}</label>
    {{input class="form-control" type = "text" value = link.Link readonly = (if isUserAdministrator undefined readonly)   }}

     {{/each}}
  </div>

  <div class="form-group  col-sm">
    <label> Teams</label>
    {{#each model.teamId as |team|}} 
    
           {{input class="form-control" type = "text" value = team readonly = (if isUserAdministrator undefined readonly)   }}

     {{/each}}
  </div>

  {{userrole}}
  {{userId}}
  {{isUserAdministrator}}

</form>

{{outlet}}