<div class="container">
  <div class="form-row col-xs-12 col-md-8">
    <div class="form-group ">
      <label class="control-label" >*First Name:</label>
      {{input type="text" class="form-control col-" id="firstName" value =model.firstName maxlength = 60}}
    </div>

    <div class="form-group">
      <label class="control-label" >*Last Name:</label>
      {{input class="form-control"  id = "lastName" type = "text" value = model.lastName }} 
    </div>

    <div class="form-group">
      <label class="control-label" >Bio:</label>
      {{input class="form-control"  type = "text" value = model.bio }}
    </div>

    <div class="form-group">
      <label class="control-label" >*Role:</label>
      {{input class="form-control"  type = "text" value = model.role readonly = (if isUserAdministrator "undefined" "readonly") }}
    </div>

    <div class="form-group">
      <label class="control-label" >*Email:</label>
      {{input class="form-control"  type = "email" value = model.email readonly = (if isUserAdministrator "undefined" "readonly") }}
    </div>

     <div class="form-group">
      <label class="control-label" >*Weekly Committed Hours:</label>
      {{input class="form-control"  type = "text" value = model.weeklyComittedHours readonly = (if isUserAdministrator "undefined" "readonly") }}
    </div>

    <div class="form-group">
     {{#each model.personalLinks as |personallink|}}
    
      <label class="control-label" >{{personallink.Name}}:</label>
      {{input class="form-control"  type = "email" value = personallink.Link }}
    <span class="glyphicon glyphicon-minus col-sm-1 " {{action "removePersonalLink" personallink}}></span>
    {{/each}}
     </div>

        <div class="form-group">

            <div class="form-inline">
               
                {{input model = this class = "form-control col-sm-2" value = newPersonalLink.Name placeholder = "Name"}} 
                {{input model = this class="form-control  col-sm-6" value= newPersonalLink.Link type = "text" placeholder = "Link" }}               
                <span class="glyphicon glyphicon-plus col-sm-1" {{action "addPersonalLink" }}></span>
                <span class="glyphicon glyphicon-minus col-sm-1" {{action "CancelAddingPersonalLink" }}></span>

              </div>
    
     </div>

     <div class="form-group">
     {{#each model.adminLinks as |adminLink|}}
    
      <label class="control-label" >{{adminLink.Name}}:</label>
      {{input class="form-control"  type = "email" value = adminLink.Link  readonly = (if isUserAdministrator "undefined" "readonly")}}
    <span class="glyphicon glyphicon-minus col-sm-1 " {{action "removeAdminLink" adminLink}}></span>
    {{/each}}
     </div>



  </div>






  <div class="form-row col-xs-12 col-md-3">
    <div class="card">
      <img class="card-img-top" src={{model.profilePic}} alt="Profile Picture">
      <div class="card-block">
        <h4 class="card-title">
          <a href="#" class="btn btn-primary btn-sm">Change</a>
          <input id="newProfilePic" style="visibility:hidden" multiple="true" onchange={{action "updateProfilePic"}} accept="image/png,image/jpeg"
            name={{newProfilePic}} type="file" />
        </h4>
      </div>
    </div>




  </div>

</div>

{{userrole}} {{userId}} {{isUserAdministrator}}