{{outlet}}

{{#each model as |item|}} 
<div class ='container'>
<div class="row">
<div class = "col-md-4 profile">
  <img class="well" style=" width:100%;margin-top: 20px; " src="https://strikingsoonofficial.files.wordpress.com/2013/09/pawan_kalyan_in_badri_hd_photos_43.jpg" >
  <div>
    <span>Email </span><span>{{item.email}}</span>
  </div>
  <div>
    <span>Phone </span><span> {{item.phone}}</span>
  </div>
  </div>
    <div class ="col-md-8 profile bio">
         <h4>{{item.name}}</h4>

        <h5>Bio</h5>
        <p>{{item.about}}</p>
        <div>
          <h5>Professional</h5>
              <a href="#">{{item.linkedin}}</a>
              <div>
                  <h5>Social </h5>
                  <p><a href="#">{{item.facebook}}</a></p>
              </div>
              <h5>Weekly Hours commited {{item.comitted_hours}}</h5>
              <h5>No.of weeks achieved 4</h5>
        </div>
    </div>
  </div>
<div class="panel panel-primary" style="margin-top: 20px;">
<div class="panel-heading">Badges Earned So Far </div>
<div class="panel-body">
<img src="/assets/images/badges/2x_burned.png"  height="80">
</div>
</div>
</div>
{{/each}}