{{outlet}}
<div class="container">
  <h2>Users</h2>
<div>
 <button class="btn" type="button" data-toggle="modal" data-target="#newUserModal"> <span class="glyphicon glyphicon-plus"></span>Create New User</button>  
 <!--new user modal-->
  <div class="modal fade" id="newUserModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
          <h4 class="modal-title">Create New User</h4>
        </div>
        <div class="modal-body">
         
         <span>UserName:</span> {{input  type="text" class="form-control"  value=username  }}
          <span>FirstName:</span>{{input  type="text" class="form-control"  value=firstName  }}
          <span>LastName:</span>{{input  type="text" class="form-control"  value=lastName  }}
          <span>Role:</span>{{input  type="text" class="form-control"  value=role  }}
          <hr/>
          <label>Contact Details</label>
          <div>
          <span>Email:</span>{{input  type="text" class="form-control"  value=email  }}
          <span>Phone:</span>{{input  type="text" class="form-control"  value=phone  }}
          </div>
          
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!--end newuser modal -->
  <label class="radio-inline">
      <input type="radio" name="optradio">Active
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">Inactive
    </label>
    </div>
  <br>
<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>contact</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
        {{#each model.UserDetails as |user|}}
      <tr>
        <td>{{user.userName}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.contact}}</td>
        <td>{{user.role}}</td>
        <td><button class="btn" type="button" data-toggle="modal"  {{action 'editRow' user}} data-target="#editUserModal"> <span class="glyphicon glyphicon-pencil"></span></button> </td>
      </tr>
      {{/each}} 
      
    </tbody>
  </table>
  </div>
   <!--edit user modal-->
  <div class="modal fade" id="editUserModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
          <h4 class="modal-title">Edit User</h4>
        </div>
        <div class="modal-body">
        
         <span>UserName:</span> {{input  type="text" class="form-control"  value=model.selectedUserName }}
          <span>FirstName:</span>{{input  type="text" class="form-control"  value=firstName  }}
          <span>LastName:</span>{{input  type="text" class="form-control"  value=lastName  }}
          <span>Role:</span>{{input  type="text" class="form-control"  value=role  }}
          <hr/>
          <label>Contact Details</label>
          <div>
          <span>Email:</span>{{input  type="text" class="form-control"  value=email  }}
          <span>Phone:</span>{{input  type="text" class="form-control"  value=phone  }}
          </div>
         
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Update</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!--end Edit user modal -->
</div>


<style>
  hr {
	border-top: 1px dashed #8c8b8b;
}
  </style>


