
 <nav class="navbar  navbar-toggleable-xs  navbar-inverse " role="navigation"> 
     <div class="container">
     <div class = "navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" href="/dashboard">
        <span class="logo">Time Tracking Tool</span>
      </a> 
      </div>  

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class=" navbar-nav mr-auto">
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/timelog">Projects</a>
        </li>
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/reports">Reports</a>
        </li>
        {{#if isUserAdministrator}}
        <li class="nav-item navbar-text">
          <a class="nav-link" href="/usermanagement">User Management</a>
        </li>
        {{/if}}
       <li  class="nav-item navbar-text">
          <form class="form-inline my-2 my-lg-0">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Tasks">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </li>
     
        <li class="nav-item navbar-text">
           <span class="glyphicon glyphicon-bell"></span>
            <span class="badge badge-notify" {{action "readNotification"}}>{{notifications.length}}</span>
           
            {{#if showNotifications}}
            <div class="alert alert-info" role="alert">
              <ul>
                {{#each notifications as |notification|}}
                <li class = "alert-li">{{notification.description}} 
                  <button class = "btn-danger btn-xs "{{action "deleteNotification" notification}}>Mark Read</button>
                  
                  </li>
                {{/each}}
              </ul>
            </div>
            {{/if}}
         
        </li>

        <li class="nav-item navbar-text">
          <a class="nav-link" href="/myaccount">
            My Account
          </a>
        </li>
        <li class="nav-item navbar-text">
          <a class="nav-link" {{action 'logout'}}>Logout</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
 </div>
</nav>
 