

<div class="task-timer">
  <div class="timer-text">

      <span class="hours"> {{hours}} </span> :
      <span class="minutes"> {{minutes}} </span> :
      <span class="seconds">{{seconds}} </span>

  </div>
  <div style="margin:10px">
      (HH : MM : SS)
  </div>
  <div>

    <button id="timerButton" {{action "timerAction"}}><span class="glyphicon glyphicon-{{actionIcon}}" aria-hidden="true"></span> {{actionText}} </button>
    <button id="timerButtonReset" disabled="{{stopDisabled}}" {{action "resetTimer"}}><span class="glyphicon glyphicon-eject" aria-hidden="true"></span> Reset </button>

  </div>
  <div>

    <div class="row">
       <div class="col-md-12">
           <button type="submit" id="addTimeToTask" type="button" class="btn btn-large btn-primary" {{action "toggleShow"}}>Add time to task</button>

           {{#ember-wormhole to="destination"}}
             {{hgn-model isVisible=showMyModal}}
           {{/ember-wormhole}}

       </div>
    </div>
  </div>
</div>



{{yield}}

